{
 "AWSTemplateFormatVersion" : "2010-09-09",
 "Description" : "Test Create EC2 Instance",

 "Parameters" : {

 },

 "Mappings" : {

 },

 "Conditions" : {

 },

 "Resources" : {
   "bationEC2Instance" : {
     "Type" : "AWS::EC2::Instance",
     "Properties" : {
       "InstanceType" : "t2.micro",
       "SubnetId" : "subnet-06ad8c5e",
       "SecurityGroupIds" : ["sg-589f103e"],
       "KeyName" : "nagatatk-stg",
       "ImageId" : "ami-2a69be4c"
     }
   }
 },

 "Outputs" : {

 }

}
